body{
	background-image: url(./image/background.jpg);
	background-size: cover;
}
h1{
	text-align: center;
	color: rgba(255, 255, 125, 1.0);
	font-size: 50px;
}
h2{
	font-size: 30px;
	color: rgba(240, 200, 200, 1.0);
}
p.instr{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.8);
}
div.instr{
	margin:0 20%;
}