body{
	background-image: url(./image/background.png);
	background-size: cover;
}
div.title{
	font-size: 30px;
	margin: 0 10%;
	text-align: center;
	vertical-align: center;
	background-color: rgba(135,0,0,0.50);
	border-radius: 10px;
	box-shadow: 10px 10px 5px black;
	border-image: url;
}
p{
	font-size: 30px;
	text-align: center;
}

